/* variables */
:root {
  --header-color: #ffffff;
  --active-text-color: #2196f3;
  --sub-title-text-color: #757575;
  --team-bg-color: #f5f4fa;
  --ofer-color: #2f303a;
  --border-color: #ececec;
  --border-folio: #eeeeee;
  --body-color: #212121;
  --color-hover: #188ce8;
  --color-shadov-card-first: rgba(0, 0, 0, 0.12);
  --color-shadov-card-sacond: rgba(0, 0, 0, 0.14);
  --color-shadov-card-third: rgba(0, 0, 0, 0.2);
  --color-mail-phone-footer: rgba(255, 255, 255, 0.6);
  --color-logo-black: #000000;

  /* common styles */
}
body {
  font-family: "roboto", sans-serif;
  color: var(--body-color);
}

/* header style */
.header {
  border-bottom: solid var(--border-color) 1px;
  background-color: var(--header-color);
}

/* logo-style */
.link-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--active-text-color);
}
.logo {
  color: var(--color-logo-black);
}

.logo-color {
  color: var(--active-text-color);
}

/* navigation style */
.navigation {
  cursor: pointer;
  transition: color 0.2s linear;
}

.navigation-list {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.navigation-link {
  text-decoration: none;
}

.navigation-link__mail {
  text-decoration: none;
  color: var(--active-text-color);
}

/* contacts style */

.header-contacts {
  list-style: none;
}

.navigation-link {
  color: inherit;
}
.active {
  text-decoration: none;
  color: var(--active-text-color);
}

.navigation-link__phone,
.navigation-link__mail {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.1;
}
.navigation-link__phone,
.navigation-link__mail {
  color: var(--sub-title-text-color);
}

/* .section__ofer */
.section__ofer {
  background: var(--ofer-color);
}

/* titles*/
.section__ofer-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--header-color);
}

.section__advantages-title,
.section__special-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.section_technology-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

/* кнопка */
.button {
  align-items: center;
  border-radius: 4px;
  background-color: var(--active-text-color);
  color: var(--header-color);
  cursor: pointer;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  transition: color 0.2s linear, box-shadow 0.2s linear,
    background-color 0.2s linear;
}

/* дінаміка кнопочек */
.button:hover,
.filtre-button:hover,
.button:focus,
.button:active,
.filtre-button:focus,
.filtre-button:active {
  background-color: var(--color-hover);
  color: var(--header-color);
}

/* навігаційна дінаміка */
.navigation-link:hover,
.navigation-link__phone:hover,
.navigation-link__mail:hover,
.navigation-link:focus,
.navigation-link__phone:focus,
.navigation-link__mail:focus,
.navigation-link:active,
.navigation-link__phone:active,
.navigation-link__mail:active,
.footer-adress-link:hover,
.adress-mail-link:hover,
.adress-phone-link:hover,
.footer-adress-link:focus,
.adress-mail-link:focus,
.adress-phone-link:focus,
.footer-adress-link:active,
.adress-mail-link:active,
.adress-phone-link:active {
  color: var(--active-text-color);
}
.navigation-list-item:visited {
  color: var(--sub-title-text-color);
}

/*  section_advantages */

.advantages-list {
  list-style: none;
}

.section__advantages-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.section__advantages-describe {
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--sub-title-text-color);
}

/* .section__special */

.special-list {
  list-style: none;
}

/* .section_comand */

.section_comand {
  padding-bottom: 90px;
  background: var(--team-bg-color);
}

.comand-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.comand-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.comand-title-post {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sub-title-text-color);
}

.comand-list {
  list-style: none;
}

.comand-list-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px var(--color-shadov-card-first),
    0px 1px 1px var(--color-shadov-card-sacond),
    0px 2px 1px var(--color-shadov-card-third);
  background-color: var(--header-color);
}
/* підвальчик */

.footer {
  background-color: var(--ofer-color);
}

.logo-footer,
.logo-color-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03;

  font-style: normal;
  color: var(--header-color);
}
.logo-color-footer {
  color: var(--active-text-color);
}

.link-logo-footer {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--active-text-color);
}

.footer-adress-list {
  list-style: none;
 }

.footer-adress-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  color: var(--header-color);
}

/* контаки підвала */
.adress-phone-link,
.adress-mail-link {
  text-decoration: none;
  font-style: normal;
  color: var(--color-mail-phone-footer);
}

/* PORTFOLIO-STYLE */

.filtre-list {
  list-style: none;
}

.filtre-button {
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  background-color: var(--team-bg-color);
  transition: color 0.2s linear, box-shadow 0.2s linear,
    background-color 0.2s linear;
}

/* folio  */
.folio-list {
  border: solid 1px var(#eeeeee);

  list-style: none;
}

.folio-list-item {
  border: 1px solid var(--border-folio);
}

.folio-title-name {
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.folio-title-result {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--sub-title-text-color);
}
