/* змінні */
:root {
  --body-color: #212121;
  --header-color: #ffffff;
  --active-text-color: #2196f3;
  --sub-title-text-color: #757575;
  --team-bg-color: #f5f4fa;
  --ofer-bg-color: #c4c4c4;
  --ofer-color: rgba(47, 48, 58, 0.4);
  --ofer-color-finish-gradient: rgba(47, 48, 58, 0.3);
  --social-stroke: #afb1b8;
  --border-color: #ececec;
  --border-folio: #eeeeee;
  --color-hover: #188ce8;
  --color-shadov-card-first: rgba(0, 0, 0, 0.12);
  --color-shadov-card-sacond: rgba(0, 0, 0, 0.14);
  --color-shadov-card-third: rgba(0, 0, 0, 0.2);
  --color-foot: #2f303a;
  --color-bg-social-footer: rgba(255, 255, 255, 0.1);
  --color-border-footer-form: rgba(255, 255, 255, 0.3);
  --color-mail-phone-footer: rgba(255, 255, 255, 0.6);
  --color-placeholder: rgba(117, 117, 117, 0.5);
  --color-bg-special: rgba(47, 48, 58, 0.8);
  --color-logo-black: #000000;
  --overlay-bg: rgba(33, 150, 243, 0.9);
  --color-border-btn-closed: rgba(0, 0, 0, 0.1);
  --card-gap: 30px;
}
/*обнулятори-стабілізатори */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* загальні стилі */
body {
  font-family: "roboto", sans-serif;
  color: var(--body-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0;
}
/* стилі шапки */
.header {
  border-bottom: solid var(--border-color) 1px;
}

/* контейнер шапки */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-color);
}
/* логотип */
.link-logo {
  display: flex;
  align-items: center;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--active-text-color);
}

.logo {
  color: var(--color-logo-black);
}
/* стилі навігації */
.navigation {
  display: flex;
  cursor: pointer;
}

.navigation-list {
  display: flex;
  margin-top: 0;
  margin-left: 93px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.navigation-list-item {
  margin-right: 50px;
}
.navigation-list-item:last-child {
  margin-right: 0;
}
/* стилі контактів */
.navigation-link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-contacts-list {
  display: flex;
  list-style: none;
  padding-top: 0;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.active {
  text-decoration: none;
  color: var(--active-text-color);
}

.active::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--color-hover);
}

.navigation-link__phone,
.navigation-link__mail {
  display: flex;
  /* вирівнюю іонки напроти тексту */
  align-items: center;

  padding-top: 0;
  padding-right: 0;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.1;
  color: var(--sub-title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail {
  margin-right: 50px;
}
/* вектори шапки */

.header-svg {
  fill: var(--sub-title-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Ефективні рішення для вашого бізнесу */
.section__ofer {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-color: var(--ofer-bg-color);
  background-image: linear-gradient(
      to right,
      var(--ofer-color),
      var(--ofer-color-finish-gradient)
    ),
    url(../images/bg-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1600px;
}

.section__ofer-title {
  width: 696px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-color);
}
/* кнопка */
.button {
  display: flex;
  width: 216px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--active-text-color);
  color: var(--header-color);
  cursor: pointer;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  padding: 10px 32px;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*  переваги */
.hidden-custom {
  /* ховаємо заголовки */
  color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-section {
  padding-bottom: 0;
}
/* вектори переваг */
.advantages-svg-image-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: var(--team-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* переваги на словах*/
.advantages-list {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.advantages-list-item {
  width: 270px;
  margin-right: 30px;
}
.advantages-list-item:last-child {
  margin-right: 0;
}

.section__advantages-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.section__advantages-describe {
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--sub-title-text-color);
}
/* чим ми займаємося */

.section__special-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.special-list {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.special-list-item {
  margin-right: 30px;
  position: relative;
}
.special-list-item:last-child {
  margin-right: 0;
}

/* текст поверх фото */
.special-list-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 70px;
  background-color: var(--color-bg-special);
}
.special-list-item-title {
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
}

/* наша команда */
.section_comand {
  background: var(--team-bg-color);
}

.comand-title,
.regular__customers-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.comand-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* карточки команди */
.comand-list-item {
  width: 270px;
  margin-right: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px var(--color-shadov-card-first),
    0px 1px 1px var(--color-shadov-card-sacond),
    0px 2px 1px var(--color-shadov-card-third);
  background-color: var(--header-color);
}

.comand-list-item:last-child {
  margin-right: 0;
}

.comand-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

.comand-title-post {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sub-title-text-color);
  margin-bottom: 16px;
}

/* вектори соц-мереж карток */
.social-list-svg {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.social-list-svg-item:not(:last-child) {
  margin-right: 10px;
}

.comand-list-svg-item-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.advantages-list-svg-item-image {
  fill: var(--social-stroke);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* постійні клієнти */
.section-regular__customers {
  margin-bottom: 0;
}

/* список лого клієнтів */
.regular__customers-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

/* окремі лого клієнтів  */
.regular__customers-list-item:not(:last-child) {
  margin-right: 30px;
}
/* посилання  */
.regular__customers-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--social-stroke);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* вектори  лого клієнтів */
.regular__customers-list-item-link-image {
  fill: var(--social-stroke);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* підвальчик */
.footer {
  background-color: var(--color-foot);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
  position: relative;
}

.link-logo-footer {
  display: flex;
  margin-top: 0;
  margin-bottom: 20px;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--active-text-color);
}

.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-style: normal;
  color: var(--header-color);
}

.footer-adress-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.footer-adress-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  color: var(--header-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* контаки підвала */
.address {
  margin-bottom: 0;
}

.footer-adress-list > li:nth-child(-n + 2) {
  margin-bottom: 9px;
}

.adress-phone-link,
.adress-mail-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  color: var(--color-mail-phone-footer);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* соцмережі футера */

/* Приєднуйтесь */

.associate-social {
  margin-left: 70px;
  margin-bottom: 0;
}

.footer-social-list-svg-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 20px;
}

.footer-social-list-svg {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
}

.footer-social-list-svg-item:not(:last-child) {
  margin-right: 10px;
}

.footer-list-svg-item-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background: var(--color-bg-social-footer);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-svg-item-image {
  fill: var(--header-color);
}

/* ФОРМА ПІДПИСКИ ФУТЕРА*/
.form-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 93px;
  position: absolute;
  right: 0;
}

.footer-email-input {
  width: 358px;
  border-radius: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid var(--color-border-footer-form);
  box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: var(--header-color);
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
}

/* пофарбуємо плейсхолдер */
.footer-email-input::placeholder {
  color: var(--color-mail-phone-footer);
}

.footer-button-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 10px 28px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: var(--active-text-color);
  color: var(--header-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin: 0 auto;
  padding: 10px 28px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: var(--active-text-color);
  color: var(--header-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* пофарбуємо іконку кнопки */
.footer-button-icon {
  fill: var(--header-color);
  margin-left: 10px;
}

/* анімація іконки кнопки*/

@keyframes subs {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-135deg);
    fill: var(--social-stroke);
    stroke: var(--border-color);
    stroke-width: 1.5px;
  }
}
.footer-button-submit:hover .footer-button-icon {
  animation: subs 1s forwards;
}

/* портфоліо */

/* навігація над портфоліо */
.filtre-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 0;
  padding-left: 0;
  margin-bottom: 50px;
  margin-top: 0;
}

.filtre-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  background-color: var(--team-bg-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtre-list-item {
  margin-right: 8px;
}

.filtre-list-item:last-child {
  margin-right: 0;
}

/* будую сітку*/

/*  стиллі списків для карток портфоліо  */

.folio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-gap));
  margin-top: calc(-1 * var(--card-gap));
  padding: 0;
  margin: 0;
  list-style: none;
}
/*  стилі  для карток */
.folio-list-item {
  flex-basis: calc(100% -2 * var(--card-gap)) / 3;
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}

.folio-list-item:nth-child(3n + 1) {
  margin-left: 0;
}

.folio-list-item:nth-child(-n + 3) {
  margin-top: 0;
}

.card-content {
  padding: 30px 15px;
}

.folio-content {
  padding: 20px 24px;
  border: 1px solid var(--border-folio);
  border-top: none;
}

.folio-list-item-link {
  /* щоб спрацював ховер блочимо */
  display: block;
  text-decoration: none;
  color: var(--body-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

/* назви проектів в картах */
.folio-title-name {
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}
/* типи проектів в картках */
.folio-title-result {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--sub-title-text-color);
}

/* стилі оврелею */

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--overlay-bg);
}

/* стилі напису оврелея */
.overlay-describe {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--header-color);
  padding: 63px 24px;
}

/* стилі бекдропу */
.backdrop-ofer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-shadov-card-third);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 528px;
  height: 581px;
  opacity: 1;
  visibility: visible;
  background-color: var(--header-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    rotate 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* форма у вікні */
.feedback-form {
  display: flex;
  flex-direction: column;
}
/* заголовок форми */
.form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--body-color);
}

/* стиллі для лайблов */
.label-modal {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--sub-title-text-color);
}
/* 
стилі для обгортки інпута для позиціїї свджи */
.input-iner {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

/* стилі полів введення та іх іконок */
.input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* іконки інпут */
.input-svg-modal {
  fill: var(--body-color);
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* поле коментаря стиль */
.input-text-area {
  margin-top: 4px;
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-text-area::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--color-placeholder);
}
/* чекбокс
кастомний */
.label-check_bx {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7x;
  letter-spacing: 0.03em;
  color: var(--sub-title-text-color);
}

.label-check_bx::before {
  content: "";
  display: flex;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 1px solid var(--body-color);
  cursor: pointer;
  margin-right: 7px;
}
.input-check_bx:checked + .label-check_bx::before {
  background-image: url("../images/icon-check.svg");
  border: none;
}

/* уовми довогору  */
.label-chbx-link {
  color: var(--active-text-color);
}

/* іконка закріття */
.btn-closed {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  top: 8px;
  right: 8px;
  border: 1px solid var(--color-border-btn-closed);
  background-color: var(--header-color);
  cursor: pointer;
}

.btn-closed-svg {
  fill: var(--color-logo-black);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* стилі класу від джаСкрипта */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* стиль для анімації модального вікна який сам не допетрив */
.backdrop-ofer.is-hidden .modal {
  transform: scale(0.1) rotate(45deg);
}
/* стек ховерів та фокусів */
/* ХОВЕРИ ШАПКИ */
/* пошта */
.navigation-link__mail:hover .header-svg,
.navigation-link__mail:focus .header-svg {
  fill: var(--active-text-color);
}
/* телефони */
.navigation-link__phone:hover .header-svg,
.navigation-link__phone:focus .header-svg {
  fill: var(--active-text-color);
}

/* ховери хедеру та футеру*/
.navigation-link:hover,
.navigation-link__phone:hover,
.navigation-link__mail:hover,
.navigation-link:focus,
.navigation-link__phone:focus,
.navigation-link__mail:focus,
.adress-mail-link:hover,
.adress-phone-link:hover,
.adress-mail-link:focus,
.adress-phone-link:focus,
.footer-adress-link:hover,
.footer-adress-link:focus {
  color: var(--active-text-color);
}
/* ховери векторів футера */
.footer-list-svg-item-link:hover,
.footer-list-svg-item-link:focus {
  background-color: var(--color-hover);
}
/*ховери кнопок  */
.button:hover,
.button:focus,
.footer-button-submit:hover,
.footer-button-submit:focus, 
.modal-btn:focus,
.modal-btn:hover
{
  background-color: var(--color-hover);
  color: var(--header-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ховери фільтру */
.filtre-button:hover,
.filtre-button:focus {
  background-color: var(--color-hover);
  color: var(--header-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-closed:hover .btn-closed-svg {
  fill: var(--color-hover);
}

/* ХОВЕРИ СОЦМЕРЕЖ карток */

.comand-list-svg-item-link:hover .advantages-list-svg-item-image,
.comand-list-svg-item-link:focus .advantages-list-svg-item-image {
  fill: var(--header-color);
}
.comand-list-svg-item-link:hover,
.comand-list-svg-item-link:focus {
  background-color: var(--color-hover);
}

/* ховери постійних клієнтів*/
.regular__customers-list-item-link:hover
  .regular__customers-list-item-link-image,
.regular__customers-list-item-link:focus
  .regular__customers-list-item-link-image {
  fill: var(--color-hover);
}

.regular__customers-list-item-link:hover,
.regular__customers-list-item-link:focus {
  border-color: var(--color-hover);
}
/* ховери карток портфолІО*/
.folio-list-item-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* ховери оверлея */
.folio-list-item-link:hover .overlay {
  transform: translateY(0);
}

/* фокуси форм */
/* фокуси інпутів та іконок в них */
.input-modal:focus,
.input-text-area:focus,
.footer-email-input:focus,
.input-modal:hover,
.input-text-area:hover,
.footer-email-input:hover {
  outline: none;
  border: 1px solid var(--active-text-color);
}

/* ХОВЕРИ ІКОНОК ФОРМИ */
.input-modal:focus + .input-svg-modal {
  fill: var(--active-text-color);
}
.input-modal:hover + .input-svg-modal {
  fill: var(--active-text-color);
}
/* ХОВЕРИ КАСТОМ ЧЕКБОКСУ */
.input-check_bx:focus + .label-check_bx::before {
  border: 1px solid var(--color-hover);
}
.input-check_bx:hover + .label-check_bx::before {
  border: 1px solid var(--color-hover);
}
