/* змінні */
:root {
  --header-color: #ffffff;
  --active-text-color: #2196f3;
  --sub-title-text-color: #757575;
  --team-bg-color: #f5f4fa;
  --ofer-color: #2f303a;
  --border-color: #ececec;
  --border-folio: #eeeeee;
  --body-color: #212121;
  --color-hover: #188ce8;
  --color-shadov-card-first: rgba(0, 0, 0, 0.12);
  --color-shadov-card-sacond: rgba(0, 0, 0, 0.14);
  --color-shadov-card-third: rgba(0, 0, 0, 0.2);
  --color-mail-phone-footer: rgba(255, 255, 255, 0.6);
  --color-logo-black: #000000;
  --card-gap: 30px;
}
/*обнулятори-стабілізатори */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* загальні стилі */
body {
  font-family: "roboto", sans-serif;
  color: var(--body-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0;
}
/* стилі шапки */
.header {
  border-bottom: solid var(--border-color) 1px;
}

/* контейнер шапки */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-color);
}
/* логотип */
.link-logo {
  display: flex;
  align-items: center;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--active-text-color);
}

.logo {
  color: var(--color-logo-black);
}
/* стилі навігації */

.navigation {
  display: flex;
  cursor: pointer;
}

.navigation-list {
  display: flex;
  margin-top: 0;
  margin-left: 93px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}

.navigation-list-item {
  margin-right: 50px;
}
.navigation-list-item:last-child {
  margin-right: 0;
}
/* стилі контактів */
.navigation-link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-contacts-list {
  display: flex;
  list-style: none;
  padding-top: 0;
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.active {
  text-decoration: none;
  color: var(--active-text-color);
}

.navigation-link__phone,
.navigation-link__mail {
  padding-top: 30px;
  padding-right: 30px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.1;
  color: var(--sub-title-text-color);
}

.header-mail {
  margin-right: 50px;
}

/* навігація псевдокласи */
.navigation-link:hover,
.navigation-link__phone:hover,
.navigation-link__mail:hover,
.navigation-link:focus,
.navigation-link__phone:focus,
.navigation-link__mail:focus,
.navigation-link:active,
.navigation-link__phone:active,
.navigation-link__mail:active,
.footer-adress-link:hover,
.adress-mail-link:hover,
.adress-phone-link:hover,
.footer-adress-link:focus,
.adress-mail-link:focus,
.adress-phone-link:focus,
.footer-adress-link:active,
.adress-mail-link:active,
.adress-phone-link:active {
  color: var(--active-text-color);
}

/* Ефективні рішення для вашого бізнесу */
.section__ofer {
  padding-top: 200px;
  padding-bottom: 200px;
  background: var(--ofer-color);
}

.section__ofer-title {
  width: 696px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;

  text-transform: uppercase;
  color: var(--header-color);
}
/* кнопка */
.button {
  display: flex;
  width: 216px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: var(--active-text-color);
  color: var(--header-color);
  cursor: pointer;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  padding: 10px 32px;
}
/*кнопка псевдокласи */
.button:hover,
.filtre-button:hover,
.button:focus,
.button:active,
.filtre-button:focus,
.filtre-button:active {
  background-color: var(--color-hover);
  color: var(--header-color);
}

/*  переваги */
.advantages-section {
  padding-bottom: 0;
}

.advantages-list {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.advantages-list-item {
  width: 270px;
  margin-right: 30px;
}
.advantages-list-item:last-child {
  margin-right: 0;
}

.section__advantages-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.section__advantages-describe {
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--sub-title-text-color);
}
/* чим ми займаємося */

.section__special-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.special-list {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.special-list-item {
  margin-right: 30px;
}
.special-list-item:last-child {
  margin-right: 0;
}
/* наша команда */
.section_comand {
  background: var(--team-bg-color);
}

.comand-title {
  /* margin-bottom: 50px; */
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.comand-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.comand-list-item {
  width: 270px;
  margin-right: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px var(--color-shadov-card-first),
    0px 1px 1px var(--color-shadov-card-sacond),
    0px 2px 1px var(--color-shadov-card-third);
  background-color: var(--header-color);
}

.comand-list-item:last-child {
  margin-right: 0;
}

.comand-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}

.comand-title-post {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sub-title-text-color);
}

/* підвальчик */
.footer {
  background-color: var(--ofer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.link-logo-footer {
  display: flex;
  margin-top: 0;
  margin-bottom: 20px;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--active-text-color);
}

.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-style: normal;
  color: var(--header-color);
}

.footer-adress-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.footer-adress-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  color: var(--header-color);
}
/* контаки підвала */
.address {
  margin-bottom: 0;
}

.footer-adress-list > li:nth-child(-n + 2) {
  margin-bottom: 9px;
}

.adress-phone-link,
.adress-mail-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  color: var(--color-mail-phone-footer);
}

/* навігація над портфоліо */
.filtre-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 0;
  padding-left: 0;
  margin-bottom: 50px;
  margin-top: 0;
}

.filtre-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  cursor: pointer;
  background-color: var(--team-bg-color);
}

.filtre-list-item {
  margin-right: 8px;
}

.filtre-list-item:last-child {
  margin-right: 0;
}

/* будую сітку*/

/*  стиллі списків для карток портфоліо  */

.folio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-gap));
  margin-top: calc(-1 * var(--card-gap));
  padding: 0;
  margin: 0;
  list-style: none;
}
/*  стилі  для карток */
.folio-list-item {
  flex-basis: calc(100% / 3 - var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}

.folio-list-item:nth-child(3n + 1) {
  margin-left: 0;
}

.card-content {
  padding: 30px;
  border: 1px solid var(--border-folio);
  border-top: none;
}

.folio-list-item-link {
  text-decoration: none;
  color: var(--body-color);
}
/* назви проектів в картах */
.folio-title-name {
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}
/* типи проектів в картках */
.folio-title-result {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--sub-title-text-color);
}
