/*  переваги */
.advantages-section {
  padding-bottom: 0;
}
/* іконки переваг */
// мобілки

.image-thumb {
  @include flex-center-center();
  width: auto;
  height: 120px;
  background: var(--team-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* переваги на словах*/
.advantages-section__list {
  list-style: none;

  margin: 0 auto;
  padding-left: 0;
}

.advantages-section__subtitle {
  text-align: center;
  margin-bottom: 10px;
  @include for-fonts(14px, 700, 1.1);
  text-transform: uppercase;
}

.advantages-section__describe {
  @include for-fonts(14px, 400, 1.7);
  letter-spacing: 0.03em;
  color: var(--sub-title-text-color);
}

.advantages-section__describe {
  margin-bottom: 30px;
}
.last {
  margin-bottom: 0;
}
// ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ
@media screen and (min-width: 768px) {
  .advantages-section__container {
    margin-left: 0;
    margin-right: 0;
  }

  .advantages-section__list {
    display: flex;
    flex-wrap: wrap;
  }
  .advantages-section-list__item,
  .advantages-section__describe {
    width: 354px;
    margin-right: 0;
    margin-right: 30px;
  }
  .advantages-section-list__item:nth-child(2n) {
    margin-right: 0;
  }
}

// ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП
@media screen and (min-width: 1200px) {
  .advantages-section__container {
    margin: 0 auto;
  }
  .image-thumb {
    width: 270px;
  }
  // * переваги на словах*/
  .advantages-section__list {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;

    .advantages-section-list__item:not(:last-child) {
      width: 270px;
      margin-right: 30px;
    }
  }
}
.advantages-section__describe {
  align-items: center;
  width: auto;
  margin-right: 0;
}
