/*  переваги */
.advantages-section {
  padding-bottom: 0;
}
/* іконки переваг */
// мобілки

.image-thumb {
  @include flex-center-center();
  width: auto;
  height: 120px;
  background: var(--team-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* переваги на словах*/
.advantages-section__list {
  list-style: none;
  margin-top: 0;
}

.advantages-section__subtitle {
  margin-bottom: 10px;
  @include for-fonts(14px, 700, 1.1);
  text-transform: uppercase;
}

.advantages-section__describe {
  @include for-fonts(14px, 400, 1.7);
  letter-spacing: 0.03em;
  color: var(--sub-title-text-color);
}

// *************************479
@media screen and (max-width: 479px) {
  .advantages-section__describe {
    font-size: 12px;
    letter-spacing: 0.01em;
  }
} // *************************479

// 480 480 480 480 480 4***************************767
@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages-section__list {
    padding-left: 0;
  }
  .advantages-section__subtitle {
    text-align: center;
  }
  .advantages-section__describe {
    margin-bottom: 30px;
  }
  .last {
    margin-bottom: 0;
  }
} // 480 480 480 480 480 4***************************768

// / ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages-section {
    margin-bottom: 60px;
  }
  .advantages-section-list {
    margin: -15px -15px;
  }
  .advantages-section-list__item {
    margin: 15px;
    width: calc(50% - 30px);
  }
  .advantages-section-list__item:nth-child(1),
  .advantages-section-list__item:nth-child(2) {
    margin-top: 0;
  }

  .advantages-section__container {
    margin-left: 0;
    margin-right: 0;
  }

  .advantages-section__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }
}
.advantages-section-list__item:nth-child(2n) {
  margin-right: 0;
}

// ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП
@media screen and (min-width: 1200px) {
  .advantages-section__container {
    justify-content: center;
    display: flex;
  }
  .image-thumb {
    width: 270px;
  }
  // * переваги на словах*/
  .advantages-section__list {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
  }

  .advantages-section-list__item {
    width: 270px;
  }
  .advantages-section-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .advantages-section__describe {
    align-items: center;
    width: auto;
    margin-right: 0;
  }
}
