/* стилі бекдропу */
.backdrop-ofer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-shadov-card-third);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  height: 581px;
  opacity: 1;
  visibility: visible;
  background-color: var(--header-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    rotate 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__button {
    @include flex-center-center();
    width: 200px;
    margin: 0 auto;
    padding: 10px 52px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    @include for-fonts(16px, 700, 1.9);
    background-color: var(--active-text-color);
    color: var(--header-color);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      background-color: var(--color-hover);
      color: var(--header-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
  }
}

/* стиль для анімації модального вікна який сам не допетрив */
.backdrop-ofer.is-hidden .modal {
  transform: scale(0.1) rotate(45deg);
}

/* іконка закріття */
.modal-close {
  position: absolute;
  @include flex-center-center();
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  top: 8px;
  right: 8px;
  border: 1px solid var(--color-border-btn-closed);
  background-color: var(--header-color);
  cursor: pointer;
  &__icon {
    fill: var(--color-logo-black);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .modal-close:hover & {
      fill: var(--active-text-color);
    }
  }
}

//  / 360 360 360  360 360 360  360 360 360  360 360 360
// 360 360 360  360 360 360  360 360 360  360 360 360
@media screen and (max-width: 479px) {
  .modal {
    position: fixed;
    margin: 0;
    width: 290px;
    height: 609px;
    overflow-y: auto;
    top: 45%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 0;

  }
}

// 768-1199 768-1199 768-1199 768-1199 768-1199768-1199
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    top: 45%;
    width: 450px;
    padding: 40px;
  }
}

// ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    top: 50%;
    padding: 40px;
  }
  .modal__button {
    padding: 10px 28px;
  }
}
