// загальні стилі
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
// для РЕСПОНСИВНОГО ЗОБРАЖЕННЯ
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-thumb {
  display: flex;
justify-content: center;
  position: relative;
  overflow: hidden;
}
/* загальні стилі */
body {
  font-family: var(--font-first-roboto, var(--font-reserv));
  color: var(--body-color);
// анмація кнопки футера
  @keyframes subs {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(-135deg);
      fill: var(--social-stroke);
      stroke: var(--border-color);
      stroke-width: 1.5px;
    }
  }
// анімаці команди
  @keyframes com_sl {
    from {
      transform: translate(-40%);
    }
    50% {
      color: var(--color-hover);
      text-shadow: 5px 5px 5px var(--color-hover);
    }
    100% {
      transform: translate(40%);
      color: var(--color-hover);
      text-shadow: 5px 5px 5px var(overlay-bg);
    }
  }

 
}

// мобільні стилі <480px
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 0;
}

.advantages-section {
  padding-bottom: 0;
}

.hidden {
  @include hidden();
}

.is-hidden {
  @include is-hidden();
}

// ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
