// загальні стилі
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
// для РЕСПОНСИВНОГО ЗОБРАЖЕННЯ
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-thumb {
  width: auto;
  display: flex;
  flex-direction: column;
align-items: center;  
position: relative;
  overflow: hidden;
}
/* загальні стилі */
body {
  font-family: var(--font-first-roboto, var(--font-reserv));
  color: var(--body-color);
}

// анмація кнопки футера
@keyframes subs {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-135deg);
    fill: var(--social-stroke);
    stroke: var(--border-color);
    stroke-width: 1.5px;
  }
}
// анімаці команди
@keyframes com_sl {
  from {
    color: var(--body-color);
  }
  50% {
    color: var(--color-hover);
    text-shadow: 5px 5px 5px var(--color-hover);
  }
  100% {
    color: var(--color-hover);
    text-shadow: 5px 5px 5px var(overlay-bg);
  }
}

@keyframes com_sl2 {
  from {
    color: var(--header-color);
  }
  50% {
    color: var(--color-hover);
    text-shadow: 5px 5px 5px var(--header-color);
  }
  100% {
    color: var(--color-hover);
    text-shadow: 5px 5px 5px var(--header-color);
  }
}
.container {
  margin: 0 auto;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 0;
}
// мобільні стилі <480px // 480 480 480 480 480 480 480 480 480 480 480 480
@media screen and (min-width: 320px) and (max-width: 479px) {
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
} // мобільні стилі <480px // 480 480 480 480 480 480 480 480 480 480 480 480

//  480 480 480 480   ***  767 767 767
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;

  }
  
} ///480 480 480 480   ***  767 767 767

// ***  767 767 767 ********************************1199 px
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 0;
  }
} // ***  767 767 767 ****************1199 px

// ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  section {
    padding-top: 94px;
    padding-bottom: 94px;
    margin-top: 0;
  }
} // ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*  переваги */
.hidden {
  /* ховаємо заголовки */
  color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
