// загальні стилі
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* загальні стилі */
body {
  font-family: "roboto", sans-serif;
  color: var(--body-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 0;
}

.advantages-section {
  padding-bottom: 0;
}

.hidden {
  @include hidden();
}

.is-hidden {
  @include is-hidden();
}

/* анімація іконки кнопки*/

@keyframes subs {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-135deg);
    fill: var(--social-stroke);
    stroke: var(--border-color);
    stroke-width: 1.5px;
  }
}

.card-content {
  padding: 30px 15px;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}
