/*  стиллі списків для карток портфоліо  */

.folio {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*  стилі  для карток */
.folio__item {
  width: 450px;
}

/*  стилі  для карток */

.folio__card-content {
  padding: 20px 24px;
  outline: 1px solid var(--border-folio);
  border-top: none;
}
.folio__name {
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}
/* типи проектів в картках */
.folio__result {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--sub-title-text-color);
}
.folio__link {
  /* щоб спрацював ховер блочимо */
  display: block;
  text-decoration: none;
  color: var(--body-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* ховери карток портфолІО*/
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  /* ховери оверлея */
  &:hover .overlay,
  &:focus .overlay {
    transform: translateY(0);
  }
}

// ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ
@media screen and (min-width: 768px) {
  /*  стиллі списків для карток портфоліо  */

  .folio {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  /*  стилі  для карток */
  .folio__item {
    width: 320px;
  }
}

// ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП
@media screen and (min-width: 1200px) {
  .folio {
    margin-left: calc(-1 * var(--card-gap));
    margin-top: calc(-1 * var(--card-gap));
  }

  .folio__item {
    flex-basis: calc(100% - 2 * var(--card-gap)) / 3;
    margin-left: var(--card-gap);
    margin-top: var(--card-gap);
  }

  .folio__item:nth-child(3n + 1) {
    margin-left: 0;
  }

  .folio__item:nth-child(-n + 3) {
    margin-top: 0;
  }
}
