/* Ефективні рішення для вашого бізнесу */
.section-ofer {
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;

  background-color: var(--ofer-bg-color);
  background-image: linear-gradient(
      to right,
      var(--ofer-color),
      var(--ofer-color-finish-gradient)
    ),
    url(../images/bg-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__title {
    width: 360px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    @include for-fonts(26px, 900, 1.6);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--header-color);
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-ofer {
    background-image: url("../images/bg-image@2x.jpg");
  }
}

/* кнопка */
.button {
  @include flex-center-center();
  width: 200px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: var(--active-text-color);
  color: var(--header-color);
  cursor: pointer;
  border: none;
  @include for-fonts(16px, 700, 1.9);
  padding: 10px 24px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* ховери] */
  &:hover,
  &:focus {
    background-color: var(--color-hover);
    color: var(--header-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

// ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ
@media screen and (min-width: 768px) {
}

// ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП
@media screen and (min-width: 1200px) {
  .section-ofer {
    padding-top: 200px;
    padding-bottom: 200px;
    &__title {
      width: 696px;
      font-size: 44px;
    }
  }
  .button {
    width: 216px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
