/* соцмережі футера */

/* Приєднуйтесь */
.social-wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  &__title {
    margin-bottom: 20px;

    @include for-fonts(14px, 700, 1.1);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-color);
  }
}

.social-footer {
  display: flex;
  padding: 0;
  margin-bottom: 0;
  margin: 0 auto;
  list-style: none;

  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__icon {
    fill: var(--header-color);
  }

  &__link {
    @include flex-center-center();
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: var(--color-bg-social-footer);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* ховери векторів футера */
    &:hover,
    &:focus {
      background-color: var(--color-hover);
    }
  }
}

// ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ ПЛАНШЕТ
@media screen and (min-width: 768px) {
  .social-wrapp {
    margin-top: 0;
  }
}

// ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП ДЕСКТОП
@media screen and (min-width: 1200px) {
  .social-wrapp {
    margin-left: 70px;
    margin-bottom: 0;
    display: block;
  }
  .social-wrapp__title {
    margin-top: 0;
    padding-top: 0;
  }
}
