@mixin hidden() {
  /* для класу схованки */
  color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* для класу від джаСкрипта */

@mixin is-hidden() {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@mixin for-fonts($fs, $fw, $lh) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

//   для флексів
@mixin flex-center-between() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}
