/* змінні */
:root {
  // кольори
  --body-color: #212121;
  --header-color: #ffffff;
  --active-text-color: #2196f3;
  --sub-title-text-color: #757575;
  --team-bg-color: #f5f4fa;
  --ofer-bg-color: #c4c4c4;
  --ofer-color: rgba(47, 48, 58, 0.4);
  --ofer-color-finish-gradient: rgba(47, 48, 58, 0.3);
  --social-stroke: #afb1b8;
  --border-color: #ececec;
  --border-folio: #eeeeee;
  --color-hover: #188ce8;
  --color-shadov-card-first: rgba(0, 0, 0, 0.12);
  --color-shadov-card-sacond: rgba(0, 0, 0, 0.14);
  --color-shadov-card-third: rgba(0, 0, 0, 0.2);
  --color-foot: #2f303a;
  --color-bg-social-footer: rgba(255, 255, 255, 0.1);
  --color-border-footer-form: rgba(255, 255, 255, 0.3);
  --color-mail-phone-footer: rgba(255, 255, 255, 0.6);
  --color-placeholder: rgba(117, 117, 117, 0.5);
  --color-bg-special: rgba(47, 48, 58, 0.8);
  --color-logo-black: #000000;
  --overlay-bg: rgba(33, 150, 243, 0.9);
  --color-border-btn-closed: rgba(0, 0, 0, 0.1);
  // геометрія
  --card-gap: 30px;
  // шрифти
  --font-first-roboto: Roboto;
  --font-sacond-raleway: Raleway;
  --font-reserv: sans-serif;
}
